/*importing the font we need*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root{
/*step one the colors. */
--white: #ffffff;
--light-grey: #f7fdff;
--red: #ed5565;
--green: #48fcad;
--blue: #1785a7;
--grey: #B3C3C7;
--medium-grey: #707A7D;
--dark-grey: #303436;
--black: #181818;
/*colors to use in the code important when switching from dark to light mode*/
--background: var(--dark-grey);
--text: var(--light-grey);
--accent: var(--blue);
/*fonts for the website as a whole*/
font-family: Montserrat, 'Open Sans', sans-serif;
font-weight: 500;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px; 
}

body {
    background-color: var(--dark-grey);
}

.pretty-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: var(--black);
}

.pretty-text-logo {
    font-weight: 700;
    color: var(--medium-grey);
}

.pretty-menu li, a {
    color: var(--text);
    text-decoration: none;
 }
 
.pretty-menu nav ul {
     list-style: none;
 }

.pretty-menu  nav ul li {
    display: inline-block;
    padding: 0px 20px;
}

.pretty-menu  nav ul li a, button{
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.pretty-menu  nav ul li a:hover{
    color: var(--accent);
}